# prvních 5 najdete na discord dev portálu
DISCORD_TOKEN=MTM...
PUBLIC_KEY=cff...
# tyhle 3 jsou stejné, neptejte se proč asi jsem prostě v jiných příkazech používal jiné env variables, ten kód je strašnej
APP_ID=12345...
CLIENT_ID=12345...
appId=12345...
# sem dejte svoje ID, myslím že to je na některý příkazy nebo já nevím prostě kde jsem to používal
OWNER_ID=7448...
# ID kanálu na logování návrhů pro adminy (píše se tam např. u anonymních nápadů kdo je poslal a kdo rozhodl o nápadu)
SUGGESTIONS_LOG_CHANNEL_ID=9432...
# svůj klíč dostanete z https://aistudio.google.com/api-keys
GEMINI_API_KEY=AIza...
# ID kanálu pro zasílání panelu a zpráv o obchodování
TRADE_CHANNEL_ID=3214...
# údaje pro databázi
DB_HOST=0.0.0.0
DB_PORT=3306
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=bot_db
