# prvních 5 najdete na discord dev portálu
DISCORD_TOKEN=
PUBLIC_KEY=
# tyhle 3 jsou stejné, neptejte se proč asi jsem prostě v jiných příkazech používal jiné env variables, ten kód je strašnej
APP_ID=
CLIENT_ID=
appId=
# sem dejte svoje ID, myslím že to je na některý příkazy nebo já nevím prostě kde jsem to používal
OWNER_ID=
# ID kanálu na logování návrhů pro adminy (píše se tam např. u anonymních nápadů kdo je poslal a kdo rozhodl o nápadu)
SUGGESTIONS_LOG_CHANNEL_ID=
# svůj klíč dostanete z https://aistudio.google.com/api-keys
GEMINI_API_KEY=
# ID kanálu pro zasílání panelu a zpráv o obchodování
TRADE_CHANNEL_ID=
# údaje pro databázi
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_DATABASE=
